<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <p>

      <% if params[:status] == "draft" %>      
        <h4 class="text-danger">Draft</h4>
      <% else %>
        <h4 class="text-danger">Final</h4>
      <% end %>
      <h3>Purchase Order</h3>
      P.O. #: <%= @happyvendor.id.to_s %>-<%= @happyquote.number.to_s %>-<%= @happyquote.sub.to_s %>
      <br>
      P.O. Date: <%= @happyquote.order_date.strftime("%m-%d-%Y") %>
      </p>
    </div>
    <div class="col-sm-4">
      <%= image_tag "https://d1wfqjcm45bc90.cloudfront.net/happy-erp-logo-v1.png"%>
    </div>
    <div class="col-sm-4 text-danger">
      <p>Certified Woman Owned Small Business<br>
      Native American Owned:<br>
      TERO and CESO certified
      </p>
    </div>
  </div>
  <br>
  <div class="row">            
    <div class="col-sm-4">     
        <p> Happy Playgrounds, LLC<br> 7170 S Braden Ave Suite 195<br> Tulsa, OK 74136
        <br>(918) 851-9518<br> 
        <%= current_user.email %>       
        </p>
    </div>
    <div class="col-sm-4">     
    </div>
    <div class="col-sm-4 text-danger">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-1">
      VENDOR:
    </div>
    <div class="col-sm-3">
      <p>
      <%= @happyvendor.vendor_name %><br>
      <%= @happyvendor.mailing_street1 %><br>
      <% if @happyvendor.mailing_street2? %>      
        <%= @happyvendor.mailing_street2 %><br>
      <% end %>
      <%= @happyvendor.mailing_city+", "+@happyvendor.mailing_state+" "+@happyvendor.mailing_zipcode %><br>
      <%= @happyvendor.business_phone %>
      </p>
    </div>
    <div class="col-sm-3">
    </div>
    <div class="col-sm-2" align="right">
      <p>SHIP TO:</p> 
    </div>
    <div class="col-sm-3">
      <%= @happyquote.happy_customer.customer_name %><br>
      <%= @happyquote.shipping_street1 %><br>
      <% if @happyquote.shipping_street2? %>
        <%= @happyquote.shipping_street2 %><br>
      <% end %>
      <%= @happyquote.shipping_city %>, <%= @happyquote.shipping_state %> <%= @happyquote.shipping_zipcode %>
    </div>
      <% if @happyquote.project_title.present? %>
      <div class="col-sm-1">
      PROJECT:
      </div>
      <div class="col-sm-3">
        <%= @happyquote.project_title %>
      </div>
    <%end%>
  </div>

  <br>

<div class="row bg-secondary">
  <div class="col-2 border">
    <b>Part Number</b>
  </div>
  <div class="col-1 border">
    <b>Qty</b>
  </div>
  <div class="col-1 border">
    <b>UOM</b>
  </div>
  <div class="col-3 border">
    <b>Description</b>
  </div>
  <div class="col-1 border">
    <b>Color</b>
  </div>
  <div class="col-2 border">
    <b class="float-right">Unit Price</b>
  </div>
  <div class="col-2 border">
    <b class="float-right">Total</b>
  </div>
</div>

<div>
      <% @lines.each do |quote| %>
        <div data-id="<%= quote.id %>" data-quoteid="<%= quote.id %>" class="card card-body-4">
          <div class="row">
        <% if quote.quantity != 0 %>
          <div class="col-sm-2">
                <%= quote.product_id %>
          </div>
          <div class="col-sm-1">
                <%= quote.quantity %>
          </div>
          <div class="col-sm-1">
                <%= quote.unit_of_measure %>
          </div>
          <div class="col-sm-3">
                <%= quote.description %>
          </div>
          <div class="col-sm-1">
                <%= quote.color %>
          </div>
          <div class="col-sm-2">
                <div class="float-right">
                  <%= number_to_currency(quote.buyout_unit_price) %>
                </div>
          </div>
          <div class="col-sm-2">
                <div class="float-right">
                  <%= number_to_currency(quote.total_cost_amount) %>
                </div>
          </div>
        <% else %>
          <div class="col-sm-2">
          </div>
          <div class="col-sm-1">
          </div>
          <div class="col-sm-1">
          </div>
          <div class="col-sm-3">
            <b><%= quote.description %></b>
          </div>
          <div class="col-sm-1">
          </div>
          <div class="col-sm-2">
               <div class="float-right">
               </div>
          </div>
          <div class="col-sm-2">
               <div class="float-right">
               </div>
          </div>
        <% end %>
       </div>
    </div>
      <% end %>
  </div>

  <br><br>
<div class="row">
  <div class="col-8">
    <%#= @happyquote.external_notes %>
    <%= @happyquote.special_instructions %>
  </div>
 <div class="col-2 border">
   <p>
   <b>Sub Total</b><br>
   <b>Tax</b><br>
   <b>Discount</b><br>
   <b>P.O. Amount</b><br>
  </p>
 </div>
 <div class="col-2 border">
   <p class="float-right">
   <%= number_to_currency(@pototal) %><br>
   <%= number_to_currency(@taxAmount) %><br>
   <%= number_to_currency(@discountAmount) %><br>
   <%= number_to_currency(@pototal + @taxAmount - @discountAmount) %>
  </p>
 </div>
 <p><!--<%#= link_to 'Printable P.O. (PDF)', happy_quote_pocreate_path(params[:happy_quote_id], vendor_id:  @happyvendor.id, format: "pdf")%><br> -->
 <%= link_to "Edit Quote", edit_happy_quote_path(@happyquote) %><br>
      <% if params[:status] == "draft" %>      
          <td><%= link_to 'Finalize P.O.', happy_po_finalize_path(params[:happy_quote_id], vendor_id: @happyvendor.id, format: "html")%></td>
        <% else %>
          <%= link_to 'Printable P.O. (PDF)', happy_quote_pocreate_path(params[:happy_quote_id], vendor_id:  @happyvendor.id, format: "pdf")%>
      <% end %>
</div>
</div>
