<div class="container">
  <h2>Happy Product Categories</h2>

  <%= simple_form_for :search, url: happy_categories_path, method: "GET", 
  html: { class: 'form-inline', id: 'category-search-form' } do |f| %>
    <%= f.input :happy_vendor_id, :collection => @active_vendors, label_method: :vendor_name,
     label: "Category Vendor", 
     input_html: {class: "form-select", onchange: "document.getElementById('category-search-form').submit()" },
      selected: @default_vendor %>
    <%= f.input :category_name, input_html: {value: ""}, required:false %>
    <%= f.submit "Search", class: "btn btn-primary" %>
  <% end %>

  <%= page_entries_info @happy_categories %>
  
  <div class="table-responsive">          
    <table class="table table-sm table-striped">
        <thead class = "table-dark">
        <tr>
            <th style="width:70px;" >ID</th>
            <th>Product Category</th>

            <th style="width:130px;">Product Count</th>
            <% if current_user.admin? and (current_user.id == 1 or current_user.id == 11)%>
              <th></th>
            <%end%>
        </tr>
        </thead>
        <tbody>
            <% @happy_categories.each do |happy_category| %>
            <tr>
                <td><%= happy_category.id %></td>
                <td><%= link_to happy_category.category, happy_category %></td>

                <td><%= HappyProduct.where("happy_category_id =?", happy_category.id).count%></td>
                <% if current_user.admin? and (current_user.id == 1 or current_user.id == 11)%>
                  <td class="text-end" style="white-space: nowrap;">
                    <%= link_to "Edit", edit_happy_category_path(happy_category) %>
                  </td>
                  <%end%>
            </tr>
            <% end %>
        </tbody>
    </table>
  </div>
  <%= paginate @happy_categories, window: 2%>
  <% if current_user.admin? and (current_user.id == 1 or current_user.id == 11)%>
    <%= link_to 'New Category', new_happy_category_path %> 
  <%end%>

</div>

