    <% get_today_reminders() %>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container-fluid px-3">

    <!-- Bigger logo, no shrinking -->
    <a class="navbar-brand d-flex align-items-center me-3" href="/">
      <%= image_tag(
            "https://d1wfqjcm45bc90.cloudfront.net/happy-erp-logo-v1.png",
            alt: "Happy Playgrounds",
            class: "nav-logo"
          ) %>
    </a>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Center the menu on wide screens -->
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 gap-lg-2">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             id="quotesDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Quotes
          </a>
          <ul class="dropdown-menu" aria-labelledby="quotesDropdown">
            <li><a class="dropdown-item" href="/happy_quotes">Search</a></li>
            <li><%= link_to "Start Quote", start_happy_quotes_path, class: "dropdown-item" %></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
            id="customerDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Customer
          </a>
          <ul class="dropdown-menu" aria-labelledby="customerDropdown">
            <li><%= link_to "Companies", happy_customer_companies_path, class: "dropdown-item" %></li>
            <li><%= link_to "Customers",  happy_customers_path,          class: "dropdown-item" %></li>
          </ul>
        </li>

        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             id="customerDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Customer
          </a>
          <ul class="dropdown-menu" aria-labelledby="customerDropdown">
            <li><a class="dropdown-item" href="/happy_customers">Search</a></li>
          </ul>
        </li>
        -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             id="vendorDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Vendor
          </a>
          <ul class="dropdown-menu" aria-labelledby="vendorDropdown">
            <li><a class="dropdown-item" href="/happy_vendors">Search</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             id="productsDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="productsDropdown">
            <li><a class="dropdown-item" href="/happy_products">Search</a></li>
             <li><a class="dropdown-item" href="/happy_categories">Categories</a></li>
          </ul>
        </li>

        <% if current_user && (current_user.id == 1 || current_user.id == 8) %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"
               id="projectsDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Projects
            </a>
            <ul class="dropdown-menu" aria-labelledby="projectsDropdown">
              <li><a class="dropdown-item" href="/happy_projects">Search</a></li>
              <li><a class="dropdown-item" href="/happy_standard_tasks">Standard Tasks</a></li>
              <li><a class="dropdown-item" href="/happy_standard_processes">Standard Processes</a></li>
            </ul>
          </li>
        <% end %>

        <li class="nav-item">
          <a class="nav-link" href="https://happyplaygrounds.github.io/erp-docs" target="_blank">
            Happy Docs
          </a>
        </li>
      </ul>

      <!-- Tight right-side user block -->
      <div class="d-flex align-items-center ms-lg-3 gap-2 nav-user">
        <% if user_signed_in? %>
          <span class="text-muted small d-none d-lg-inline">
            <%= current_user.email.split("@").first %>
          </span>

          <% if @todayReminderCount.to_i > 0 %>
            <a class="position-relative"
               data-bs-toggle="modal"
               data-bs-target="#navModalLong"
               title="Today's reminders">
              <img src="https://d1wfqjcm45bc90.cloudfront.net/bell.png"
                   alt="Reminders" class="nav-bell"/>
            </a>
          <% end %>

          <%= link_to "Sign out", destroy_user_session_path,
                class: "btn btn-outline-secondary btn-sm rounded-pill px-3",
                data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to "Login", new_user_session_path,
                class: "btn btn-outline-primary btn-sm rounded-pill px-3" %>
        <% end %>
      </div>

    </div>
  </div>
</nav>
<br>


<!-- Modal -->
<!-- if below and if where form is are important  -->
          <% if @todayReminders %>

<div class="modal fade" id="navModalLong" tabindex="-1" role="dialog" aria-labelledby="navModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="navModalLongTitle"> Today's Happy Reminders</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <%= form_tag update_multiple_happy_reminders_path, method: :put do %>
              <% @todayReminders.each do |reminder| %>
                <%= fields_for "happy_reminders[]", reminder do |f| %>
                  <div class="form-group row">
                    <div class="field">
                    <%= f.label :name %> 
                    <%= f.text_field :name %>
                    </div>

                    <div class="field">
                    <%= f.label :content %>
                    <%= f.text_area :content %>
                    </div>

                    <div class="field">
                    <%= f.label :reminder_date %>
                    <%= f.date_field :reminder_date %>
                    </div>

                    <%#= f.input :content %>
                    <%#= f.input :reminder_date %>
                    <%#= f.hidden_field :remindable_id, :as => :hidden, :input_html => { :value => params[:id] } %>
                    <%#= f.hidden_field :remindable_type, :as => :hidden, :input_html => { :value => @model_name } %>
                    </div>

                <% end %>
           <% end %>
  <%= submit_tag "Update" %>
          <% end %>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>

              <% end %>
